<%- include('header') %>
<div class="result">
    <h1><a href="/"><img src="/images/logo.png" alt="Convert My Money logo"></a></h1>

    <% if(error) { %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %>        
        dolares na cotacao 
        <%= cotacao %> e igual a: <%= conversao %> reais
    <% } %>
</div>
<%- include('footer') %>

<script>
    setTimeout( () => {
        window.location = "/";
    }, 4000)
</script>